<ng-container *ngIf="!showSummary">
  <div *ngIf="exercises.length > 0" class="exercise-container">
    <div class="exercises-content">
      <h2 class="exercise-question">{{ exercises[currentExerciseIndex].question }}</h2>

      <div class="answer-options">
        <div *ngFor="let option of getAnswerOptions()">
          <button (click)="answerSelected(option)" class="answer-button">{{ option }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showSummary">
  <div class="summary-container">
    <div class="exercises-content">
      <h2 *ngIf="correctAnswers >= 7; else failed" class="summary-title">¡Enhorabuena! <br> ¡Puedes pasar a la siguiente
        leccion!</h2>
      <ng-template #failed>
        <h2 class="summary-title">¡No has conseguido superar la leccion!</h2>
        <p class="summary-text">Tienes que contestar correctamente a un mínimo de 7 preguntas</p>
      </ng-template>
      <p class="summary-text">Has completado {{ correctAnswers }} de {{ exercises.length }} retos correctamente.</p>
      <button (click)="returnToHome()" class="summary-button">Volver al inicio</button>
    </div>
  </div>
</ng-container>
